*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f4f6fb;
    min-height:100vh;
    display:flex;
    flex-direction:column;

    background-image:url(../IMAGENS/fundo_denuncias.png);
}



.cabecalho-superior{
    background:#2f4b8f;
    height:60px;

    display:flex;
    align-items:center;
    justify-content:space-between;

    padding:0 120px;
}

.logo-arca img{
    height:60px;
}

.menu-navegacao{
    display:flex;
    gap:30px;
}

.menu-navegacao a{
    color:white;
    text-decoration:none;
    font-size:14px;
    font-weight:bold;
}

.area-icones{
    display:flex;
    align-items:center;
    gap:20px;
}

.icone-configuracao{
    color:white;
    font-size:18px;
}

.area-icones img{
    height:20px;
}



.conteudo{
    width:100%;
    max-width:1000px;
    margin:40px auto;
    flex:1;
}

.cabecalho-pagina{
    margin-bottom:25px;
}

.caminho-pagina{
    color:#2f4b8f;
    font-size:15px;
    font-weight:bold;
    margin-bottom:10px;
}

.titulo-pagina{
    color:#2f4b8f;
    font-size:50px;
    margin-bottom:10px;
}

.subtitulo-pagina{
    color:#777;
}



.cartao{
    background:white;
    border-radius:12px;
    padding:25px;
    box-shadow:0 2px 10px rgba(0,0,0,0.08);
}

.titulo-secao{
    color:#2f4b8f;
    margin-bottom:20px;
}



.grade-formulario{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:15px;
}

input,
select,
textarea{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:6px;
}

textarea{
    min-height:120px;
    resize:none;
}

.campo-inteiro{
    grid-column:span 2;
}


.mapa{
    border-radius:10px;
    overflow:hidden;
}



.upload-arquivo{
    border:2px dashed #ccc;
    border-radius:8px;
    padding:25px;
    text-align:center;
}



.declaracao-legal{
    margin-top:25px;
}

.caixa-declaracao{
    background:#eef1f7;
    padding:15px;
    border-radius:8px;
}



.area-botoes{
    display:flex;
    justify-content:space-between;
    margin-top:25px;
}

.botao-cancelar{
    border:1px solid #2f4b8f;
    background:white;
    color:#2f4b8f;
    padding:10px 25px;
    border-radius:6px;
    cursor:pointer;
}

.botao-confirmar{
    background:#2f4b8f;
    color:white;
    border:none;
    padding:10px 25px;
    border-radius:6px;
    cursor:pointer;
}



.rodape{
    background:#2f4b8f;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:40px;
}



@media(max-width:768px){

    .cabecalho-superior{
        padding:0 20px;
    }

    .titulo-pagina{
        font-size:32px;
    }

    .grade-formulario{
        grid-template-columns:1fr;
    }

    .campo-inteiro{
        grid-column:span 1;
    }
}