.fundo-historico-pagina {
    background-image: url("../IMG/background_historico.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#h3-solicit {
    color: #1f4487;
}

.lista-historico {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card-solicitacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    border-radius: 15px;
    box-shadow: 3px 3px 3px #07789128;
    padding: 15px 25px;
}

.info-solicitacao {
    padding: 5px 0;
}

.protocolo {
    color: #979797;
    font-size: 13px;
}

/* Modificadores de Status das Solicitações */
#aprovado {
    background-color: #21cf5534;
    color: #21CF55;
}

#pendente {
    background-color: #e3c30e31;
    color: #E3C30E;
}

#finalizado {
    background-color: #e0364731;
    color: #E03647;
}

#cancelado {
    background-color: #9e9e9e2a;
    color: #9E9E9E;
}