* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f1f3f6;
    height: 100%;
    min-height: 100vh;
}

header {
    background-color: #1f4487;
    color: white;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;   
}

.icon {
    width: 50px;
    height: 50px;
}

.container {
    width: 80%;
    max-width: 1060px;
    margin: 30px auto;
    gap: 15px;
    flex: 1;
    padding: 0 20px;
}

.banner {
    background-color: #1f4487;
    color: white;
    padding: 50px;
    border-radius: 5px;
    margin-bottom: 40px;
}

.banner h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.titulo {
    color: #1f4487;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.card {
    background-color: white;
    flex: 0 0 240px;     
    border-radius: 15px;
    padding: 30px 20px;
    box-shadow: 5px 5px 5px #07789128;
    text-align: center;
    transition: transform 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.circulo {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px auto;
}

#fundo-adocao { background-color: #f2226e2a; }
#fundo-cadast { background-color: #7a378c2c; }
#fundo-denuncia { background-color: #d936542d; }
#fundo-resgate { background-color: #f287052c; }
#fundo-vacina { background-color: #25d9522d; }
#fundo-castracao { background-color: #62c3d92d; }
#fundo-historico { background-color: #2a548c27; }

.icone {
    font-size: 50px;
    margin-bottom: 20px;
    flex: 1;
}

.card h3 {
    color: #1f4487;
    margin-bottom: 10px;
}

footer {
    background-color: #1f4487;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
}