.fundo-adocao-pagina {
    background-image: url("../IMG/background_adocao.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.card-pet {
    background-color: white;
    flex: 0 0 240px;     
    border-radius: 15px;
    padding-bottom: 20px; 
    box-shadow: 3px 3px 3px #07789128;
    text-align: center;
    transition: transform 0.2s ease;
    overflow: hidden; 
}

.card-pet:hover {
    transform: translateY(-5px);
}

.imagem-pet {
    height: 160px; 
    width: 100%;
    overflow: hidden;
}

.foto-animal {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.info-pet {
    padding: 15px;
}

.btn-detalhes {
    background-color: #1f4487;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.femea {
    background-color: #7a378c1a;
    color: #7a378c;
    border-radius: 12px;
    padding: 5px 15px;
    margin: 8px 0;
    display: inline-block;
    font-weight: bold;
    font-size: 13px;
}

.macho {
    background-color: #25c3d91a;
    color: #1e7d8f;
    border-radius: 12px;
    padding: 5px 15px;
    margin: 8px 0;
    display: inline-block;
    font-weight: bold;
    font-size: 13px;
}